In [2]:
import pandas as pd

# Data pre-processing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Model training
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

# Model evaluation
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report, confusion_matrix, roc_auc_score, roc_curve
import matplotlib.pyplot as plt
import numpy as np

In [5]:
# Load local CSV file into DataFrame
df = pd.read_csv('customer_purchases.csv')
df.head()

   Age  Estimated_Salary  Previous_Purchases  Purchased
0   25             55000                   2          0
1   35             75000                   5          1
2   42             60000                   1          0
3   28             80000                   8          1
4   55            120000                  10          1

In [6]:
#Handling Missing Values
print("Missing values per column:\n", df.isnull().sum())

Missing values per column:
 Age                   0
Estimated_Salary      0
Previous_Purchases    0
Purchased             0
dtype: int64

In [7]:
#define the X and Y --> define the features and the target
X = df[['Age', 'Estimated_Salary', 'Previous_Purchases']]
y = df['Purchased']

In [8]:
#Train and test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

print("Training shape:", X_train.shape)
print("Testing shape:", X_test.shape)

Training shape: (24, 3)
Testing shape: (6, 3)